#ic1 {
  margin-top: 40px;
}

#ic2 {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#ic3 {
}

#ic2 select {
  border: 1px solid #aaa;
  border-radius: 4px;
  min-width: 400px;
  height: 32px;
}

@media only screen and (max-width: 440px) {
  #ic2 select {
    min-width: 250px;
  }
}

#ic2 select:focus {
  outline: none;
  border-color: #aaa;
  box-shadow: 0 0 0 4px rgb(170, 213, 255);
}
