#ic1 {
  height: 100vh;
  margin-top: 40px;
}

#ic2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#ic3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

#ic2 select {
  border: 1px solid #aaa;
  border-radius: 4px;
  min-width: 400px;
  height: 32px;
}
