#i1 {
  display: flex;
  justify-content: center;
  height: 40px;
  background-color: rgb(92, 103, 255);
  align-items: center;
}

.tab {
  margin: 0 4px;
  padding: 0 8px;
  background-color: white;
  height: 38px;
  display: flex;
  align-items: center;
  border: 1px solid rgb(92, 103, 255);
  border-radius: 4px;
  color: rgb(92, 103, 255);
}

.active {
  font-weight: bold;
}
